<html>
<head>
  <title>Employee Basic Report</title>
  <%- include('common/head'); %>
</head>
<body>
    <%- include('common/header'); %>
    <div class="container"">
        <b>
            <a href="/report">Click here</a> to open Employee report
        </b>
    </div>
    <%- include('common/footer'); %>
</body>
</html>