<div class="container"">
        <hr/>
        <p><b>Team#3 Assignment:</b> Create a Web application that creates reports picking data from DB(MYSQL OR MongoDB).
            Create the report in PDF format. Create a report for one user and then send the report from the server to a second user.
            Assume both users are online.
            Provide a web interface using Node.js, express and socket.io.
            Build a Jenkins based pipeline to do the deployment on a Docker container.
            User REST API's built in Node.js to connect the frontend with the backend.
    </p> 
</div>