<div class="container">
    <div class="page-header">
        <h1>Employee Basic Report</h1> 
    </div>
    <ul class="nav nav-pills">
        <li><a href="/">Home</a></li>
        <li><a href="/report">Report</a></li>
        <li><a href="/users">Online Users</a></li>
        <li><a href="/availableReports">AvailableReports</a></li>
    </ul>
    <hr/>
</div>
